.dataGridContainer
    margin-top:1.5rem
    display: flex
    flex-wrap: wrap
    gap: 2rem
.mainContainer
    margin-top: 1.5rem
    margin-left: 1rem

.showOnMapIcon
    svg
        color: green

.directionsIcon
    svg
        color: mediumvioletred

.deleteContainer
    display: inline-block